/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { border: 3px rgb(214, 72, 6) ridge; width: 700px;text-align: center;
                border-radius: 25px; 
               background-color: #1cb936;}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { width: 500px; border: 2px black solid; text-align: right;
                 position:relative; left: 60px;  padding: 6px 35px;
                 border-radius: 5px;
                 background-color: rgb(44, 227, 252); font-family: "courier new";
                 overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] { width: 100px; height: 50px; padding: 0; border-radius: 50px }
/*botones especiales*/
.calculadora input.largo { color:#2f4eab; width: 140px; }
.calculadora input.Botonigual { color:#ff0000; width: 300px; }